*{
  box-sizing: border-box;
}
@media(max-width: 400px){
  .homePage{
    max-width:1200px;
    height:600px;
    display: flex;
    .home{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width:1200px;
    }
  }
  .links{
    display:flex;
    max-width:1200px;
    flex-direction: column;
    li{
      list-style: none;
      font-size:20px;
      flex-grow: 1;
      .indexLink{
        text-decoration: none;
        color:black;
      }
    }
  }
  body {
    max-width: 1200px;
    background-image: url("./../images/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .paragraph{
    margin-top:70px;
    .header{
      display: flex;
      justify-content: center;
      font-size:16px;
    }
    .profil{
      text-align:center;
      display: flex;
      justify-content: center;
    }
  }
  .codersLab{
    display:flex;
    .codersImg{
      margin-top:50px;
      margin-right: 20px;
      width:60px;
      height:60px;
    }
    .date{
      font-size: 14px;
      display: flex;
      margin-top:50px;
      margin-right: 30px;
    }
    .study{
      display: flex;
      margin-top:30px;
    }
  }
  .educationSection{
    display:flex;
    .aghImg{
      margin-top:50px;
      margin-right: 30px;
      width:40px;
      height:60px;
    }
    .date{
      font-size: 14px;
      display: flex;
      margin-top:60px;
      margin-right: 30px;
    }
    .study{
      display: flex;
      margin-top:30px;
    }
  }
  .toolsBox{
    display:flex;
    flex-direction: column;
    .toolsImg{
      width: 80px;
      height: 80px;
      margin:20px;
      margin-top: 50px;
      margin-left: 150px;
    }
  }

  .interestBox{
    display:flex;
    flex-direction: column;
    .interestImg{
      width: 80px;
      height: 80px;
      margin:20px;
      margin-top: 50px;
      margin-left: 150px;
    }
  }
  /*
  .images {
    width: 200px;
    height: 200px;
    margin-left: 150px;
    margin-top:150px;
  }
  */
  .projects{
    display:flex;
    max-width: 1200px;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    a{
      color:black;
      text-decoration:none;
      margin:50px 0;
    }
    .projectsImg{
      width:300px;
      height:200px;
      justify-content: center;
      opacity:0.7;
      margin-left:30px;
    }
  }
  .boxContact{
    display: flex;
    flex-direction: column;
    .imgContact{
      width: 150px;
      height: 150px;
      flex-direction:row;
      margin-top:100px;
      margin-left: 100px;
      position:relative;
    }
    p{
      font-size: 18px;
      display:block;
      width:350px;
      text-align: center;
    }
  }
}



@media(min-width: 400px) {
  .homePage{
    max-width:1200px;
    height:600px;
    display: flex;
    .home{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width:1200px;
    }
  }
  .links {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    justify-content: center;
    li {
      list-style: none;
      font-size: 20px;
      flex-grow: 1;
      text-align: center;
      .indexLink {
        text-decoration: none;
        color: black;
      }
    }
  }
  body {
    max-width: 1200px;
    background-image: url("./../images/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .paragraph{
    margin-top:70px;
    max-width: 1400px;
    margin-left:80px;
    .header{
      display: flex;
      justify-content: center;
      font-size:16px;
    }
    .profil{
      text-align:center;
      display: flex;
      justify-content: center;
    }
  }
  .codersLab{
    display:flex;
    margin-left:190px;
    .codersImg{
      margin-top:10px;
      margin-right: 20px;
      width:80px;
      height:80px;
    }
    .date{
      font-size: 14px;
      display: flex;
      margin-top:50px;
      margin-right: 30px;
    }
    .study{
      display: flex;
      margin-top:30px;
    }
  }
  .educationSection{
    display:flex;
    margin-left:200px;
    .aghImg{
      margin-right: 30px;
      width:60px;
      height:100px;
    }
    .date{
      font-size: 14px;
      display: flex;
      margin-top:50px;
      margin-right: 30px;
    }
    .study{
      display: flex;
      margin-top:30px;
    }
  }
  .toolsBox{
    display:flex;
    flex-direction: row;
    .toolsImg{
      width: 80px;
      height: 80px;
      margin:20px;
      margin-top: 50px;
    }
  }

  .interestBox{
    display:flex;
    margin-left:200px;
    flex-direction: row;
    .interestImg{
      width: 80px;
      height: 80px;
      margin:20px;
      margin-top: 50px;
    }
  }


  .images {
    width: 200px;
    height: 200px;
  }
  .projects{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    a{
      color:black;
      text-decoration:none;
      margin:50px 0;
    }
    .projectsImg{
      width:300px;
      height:200px;
      justify-content: center;
      margin-left:450px;
      opacity:0.7;
    }
  }


  .boxContact{
    display: flex;
    .imgContact{
      width: 150px;
      height: 150px;
      flex-direction:row;
      margin-top:200px;
      margin-left: 90px;
      position:relative;
    }
    p{
      font-size: 18px;
      display:block;
      position:absolute;
      top:420px;
      width:310px;
      text-align: center;
    }
  }
}

